
<h1>Get By Id</h1>

@model ProductViewModel

<a asp-controller="products" asp-action="Index" class="btn btn-primary">Ürünler sayfasına dön</a>

<div class="card">
    <div class="card-header">
     Ürün: @Model.Name
    </div>
    <div class="card-body">
        
        <div>Id: @Model.Id</div>
        <div>Açıklama: @Model.Description</div>
        <div>Fiyat: @Model.Price</div>
        <div>Stok: @Model.Stock</div>
        <div>Renk: @Model.Color</div>
        <div>Süre: @Model.Expire</div>

    </div>
</div>